/* mise en place du reset navigateur*/

*{
    background-color: aqua;
    margin-top: 0;
    margin-left: 0;
}
body{
    background: black;
}
.header{
    color:blue;
    text-align: center;
    margin-top: 10px;
    padding-left:10px;
    padding-right: 10px;
}
.section{
    color: black;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
    background: black;
    padding-left: 40px;
    padding-right: 40px;
}

.logo{
    width: 60px;
    height: auto;
}
.band{
    display: flex;
}
.by{
    display: block;
}
.foot{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;
    background-color: blue;
    height: 200px;
    width: 100%;
}
.list{
    display: flex;
    padding-left: 120px;
}
.list__child{
    padding-left: 20px;
}
.contact{
    text-decoration: underline;
    color:blue;
    background-color: rgb(89, 160, 169);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60%;
}
.card{
    background-color: aquamarine;
    text-align: center;
    flex-direction: row;   
}

.tab{
    height: 400px;
    width: max-content;
}
.email{
    padding-left: 5px;
    padding-right: 5px;
    color:black;
    border: solid 5px black;
    background-color: white;
}

.form-control-plaintext{
    color: red;
    padding-left: 10px;
    border:black solid 5px;
    background-color: white;
}